body{
    font-family: sans-serif;
    background-color: #ffff;
    padding: 0;
    margin: 0;
}

header{
    padding: 1em; 
    width: 100%;
    text-align: center;
    background-color: #55b6fc;
    margin-bottom: 20px;
}
